<h1>Listing staff_members</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Rate</th>
      <th>Phone</th>
      <th>Username</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staff_members.each do |staff_member| %>
      <tr>
        <td><%= staff_member.email %></td>
        <td><%= staff_member.first_name %></td>
        <td><%= staff_member.last_name %></td>
        <td><%= staff_member.rate %></td>
        <td><%= staff_member.phone %></td>
        <td><%= staff_member.username %></td>
        <td><%= staff_member.password %></td>
        <td><%= link_to 'Show', staff_member %></td>
        <td><%= link_to 'Edit', edit_staff_member_path(staff_member) %></td>
        <td><%= link_to 'Destroy', staff_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff member', new_staff_member_path %>
