<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Billing method:</strong>
  <%= @project.billing_method %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @project.rate %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
