<h1>Listing invoice_lines</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Notes</th>
      <th>Cost</th>
      <th>Units</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_lines.each do |invoice_line| %>
      <tr>
        <td><%= invoice_line.task %></td>
        <td><%= invoice_line.notes %></td>
        <td><%= invoice_line.cost %></td>
        <td><%= invoice_line.units %></td>
        <td><%= link_to 'Show', invoice_line %></td>
        <td><%= link_to 'Edit', edit_invoice_line_path(invoice_line) %></td>
        <td><%= link_to 'Destroy', invoice_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice line', new_invoice_line_path %>
