<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @invoice_line.task %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice_line.notes %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @invoice_line.cost %>
</p>

<p>
  <strong>Units:</strong>
  <%= @invoice_line.units %>
</p>

<%= link_to 'Edit', edit_invoice_line_path(@invoice_line) %> |
<%= link_to 'Back', invoice_lines_path %>
